/* main.css */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Karla:wght@400;700&display=swap'); 

/* Global Styles */
html {
  font-size: 62.5%; /* 1rem = 10px */
}

.yellow-text {
  color: #d69e3d;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  /* font-size: 20px; */
}

body {
  font-family: Karla, sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f3f0e9;
}

/* Typography */
h1, h2, h3, nav a {
  font-family: Lato, sans-serif;
  font-weight: 700;
}

button {
  font-family: Karla, sans-serif;
}

/* Header */
.header {
    background-color: #000;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .logo {
    font-size: 1.8rem;
    font-weight: bold;
    margin-right: 2rem;
    color: #fff;
    padding-left: 150px;
  }
  
  .nav ul {
    float: right;
    line-height: 80px;
  }

  .nav ul li {
    list-style: none;
    display: inline-block;
    padding-right: 5px;
  }
  
  .nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 7px 8px;
  }

  nav ul li a:hover{
    color: #d69e3d;
    transition: 0.5s ease;
  }
  
  .hero {
    position: relative;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #131010; 
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
  }
  
  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    opacity: 0.6; /* Reduce opacity to create a shadow effect */
  }
  
  .hero-text {
    position: relative;
    text-align: center;
    color: #fff; /* White text color */
    z-index: 1;
    max-width: 30vw;
  }

  .hero-text h1{
    color: #fff; /* White text color */
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 25px;
  }

  .hero-text p{
    font-size: 18px;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 50px;
  }
  
  .hero-text h2 {
    margin-top: 5px;
  }
  
  .hero-text p {
    margin-top: 5px;
  }

  .hero-text button{
    color: black;
    padding: 12px 25px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fff;
    outline: 2px solid;
  }

  .hero-text button:hover{
    background-color: #d69e3d;
    color: #fff;
    transition: 0.5s ease;
  }

/* Welcome to my Coffee House */

.container {
  padding: 20px 100px;
}

.container h2 {
  margin-top: 5px;
}

.container p {
  margin-bottom: 5px;
}

.container
.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.latte {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.coffee-beans {
  grid-column: 3;
  grid-row: 1;
}

.pouring-coffee {
  grid-column: 4;
  grid-row: 1;
}

.three-cups {
  grid-column: 3;
  grid-row: 2;
}

.smiling-employee {
  grid-column: 4;
  grid-row: 2;
}
  
  
  /* Why visit us */

  .why-visit-us {
    padding-left: 10vw;
  }

  .why-visit-us h2 {
    margin-top: 5px;
  }
  
  .why-visit-us p {
    margin-bottom: 5px;
  }

  .why-visit-us .why-visit-us-text {
    text-align: center;
  }

  .why-visit-us-image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
  }
  
  .why-visit-us-image-grid svg {
    /* margin: 10px; */
    width: 10vw; 
    height: auto;
    align-items: center;
  }
  .why-visit-us-image-grid .svg-text {
    max-width: 15vw; 
    height: auto;
  }
  
 
/* Menu and Location */

  .menu {
    position: relative;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #131010; 
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
  }
  
  .menu h2 {
    margin-top: 5px;
  }
  
  .menu p {
    margin-bottom: 5px;
  }
  .menu-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    object-fit: cover;
    opacity: 0.6; /* Reduce opacity to create a shadow effect */
  }
  
  .menu-text {
    position: relative;
    text-align: center;
    color: #fff; /* White text color */
    z-index: 1;
    max-width: 400px;
    margin-right: 100px;
  }

  .location-text {
    position: relative;
    text-align: center;
    color: #fff; /* White text color */
    z-index: 1;
    max-width: 400px
  }

  .menu-text button:hover{
    background-color: #d69e3d;
    color: #fff;
    transition: 0.5s ease;
    outline: 2px solid;
  }

  .location-text button{
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #fff;
    color: #fff;
  }

  .location-text button:hover{
    background-color: #fff;
    color: black;
    transition: 0.5s ease;
  }

/* About Us*/

.about-us {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  flex-wrap: wrap; /* Allow the content to wrap to the next line */
  padding: 20px 100px;
}

.about-us img {
  width: 30%; 
  height: auto; /* Maintain the image's aspect ratio */
  padding-left: 50px;
  padding-top: 20px;
}

.about-us h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.about-us p {
  margin-bottom: 5px;
}
.about-us .about-us-text {
  /* flex-basis: 50%;  */
  display: flex; 
  max-width: 30vw;
  flex-direction: column;
  /* justify-content: left;
  align-items: left; */
  padding-left: 10px;
}

.about-us-btn {
  color: #fff;
  background-color: #000;
  width: 15vw;
}

.about-us-btn:hover{
  background-color: #d69e3d;
  color: #fff;
  transition: 0.5s ease;
  outline: 2px solid;
}

/* Customers Feedback */ 

.customer-feedback {
  padding: 10px 200px;
  height: auto;
  background-color: #000;
}

.customer-feedback h2 {
  margin-top: 5px;
}

.customer-feedback p {
  margin-bottom: 5px;
}

.image-text-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.image-text-grid img {
  width: 100%;
  height: auto;
}


.image-text-grid div {
  position: relative;
}

.image-text-grid .feedback1, .image-text-grid .feedback2, .image-text-grid .feedback3 {
  position: absolute;
  top: 60%;
  left: 50%;
  bottom: 30%;
  transform: translate(-50%, -50%);
  width: 95%;
  text-align: left;
  color: #fff;
  padding: 20px;
}

.customer-feedback .white-text {
  color: #fff;
}


/* Footer */
.footer {
  text-align: center;
  padding: 1rem;
  background-color: #000;
}

.footer-text {
  color: #fff;
}

/* Buttons */
button {
  background-color: #fff;
  color: #000000;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #333;
}

button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Responsive styles */
@media (max-width: 767px) {
  /* Mobile styles */
  main {
    flex-direction: column;
  }
  .image-text-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  h1 { font-size: 2.027rem; } /* 32.44px */
  h2 { font-size: 1.802rem; } /* 28.83px */
  h3 { font-size: 1.424rem; } /* 22.78px */
  p { font-size: 1.602rem; } /* 25.67px */
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Tablet styles */
  main {
    flex-direction: row;
  }
  .image-text-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  h1 { font-size: 2.986rem; } /* 47.78px */
  h2 { font-size: 2.488rem; } /* 39.81px */
  h3 { font-size: 1.728rem; } /* 27.65px */
  p { font-size: 1rem; } /* 16px */
}

@media (min-width: 1100px) {
  /* Desktop styles */
  main {
    flex-direction: row;
  }
  .image-text-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  h1 { font-size: 3.815rem; } /* 61.04px */
  h2 { font-size: 3.052rem; } /* 48.83px */
  h3 { font-size: 1.953rem; } /* 31.25px */
  p { font-size: 1rem; } /* 16px */
}
