/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Karla:wght@400;700&display=swap'); 

/* Global Styles */
html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: Karla, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, nav a {
  font-family: Lato, sans-serif;
  font-weight: 700;
}

button {
  font-family: Karla, sans-serif;
}

.yellow-text {
  color: #d69e3d;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f3f0e9;
}

/* Header styling */
.header {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px 20px;
  height: 60px;
}

.logo svg {
  display: block;
  height: auto;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.nav li {
  margin-left: 20px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 7px 8px;
}

nav ul li a:hover {
  color: #d69e3d;
  transition: 0.5s ease;
}

/* Hero styling */
.hero {
  position: relative;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #131010; 
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  opacity: 0.6;
}

.hero-text {
  position: absolute;
  text-align: center;
  color: #fff; /* White text color */
  z-index: 1;
  max-width: 80%;
  padding: 20px;
}

.hero-text h1 {
  color: #fff; /* White text color */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 800;
  margin: 0;
}

.hero-text h1 span {
  display: block;
}  

.hero-text p {
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.5;
  margin: 10px 0;
}

.hero-text button {
  color: black;
  padding: 12px 25px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background-color: #fff;
  border: none; 
  cursor: pointer;
  outline: 2px solid #fff;
}

.hero-text button:hover {
  background-color: #d69e3d;
  color: #fff;
  transition: 0.5s ease;
}

/* Welcome to my Coffee House */
.container {
  padding: 20px;
}

.container h2 {
  margin-top: 5px;
}

.container h2 span {
  display: block;
}

.container p {
  margin-top: 50px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(4, 1fr); /* 4 rows */
  gap: 10px;
}

.image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.latte {
  grid-column: 1 / 3; /* Span across both columns */
  grid-row: 1 / 3; /* Span across the first two rows */
}

.coffee-beans {
  grid-column: 1;
  grid-row: 3;
}

.pouring-coffee {
  grid-column: 2;
  grid-row: 3;
}

.three-cups {
  grid-column: 1;
  grid-row: 4;
}

.smiling-employee {
  grid-column: 2;
  grid-row: 4;
}

/* Why visit us */
.why-visit-us {
  width: 100%;  
  max-width: 1200px;  
  margin: 0 auto;
}

.why-visit-us-text {
  text-align: center;
  margin-bottom: 2rem;   
}

.why-visit-us-text p {
  margin-top: 50px;
}

.why-visit-us-text h2 {
  margin-top: 5px;
}

.why-visit-us-image-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.why-visit-us-item {
  text-align: center;
  margin: 1rem;  
  max-width: 300px; 
}

.why-visit-us-item svg {
  width: 100%;
  max-width: 200px;  
  height: auto;
}

/* Menu and Location */
.menu {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between items */
  align-items: center;
  justify-content: center;
  position: relative;
  height: auto; /* Adjust height as needed */
  padding: 20px;
  background-color: #131010;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.menu h2 {
  margin-top: 5px;
}

.menu p {
  margin-bottom: 5px;
}

.menu-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 0.6; /* Reduce opacity to create a shadow effect */
  overflow: hidden;
}

.menu-text,
.location-text {
  position: relative;
  text-align: center;
  color: #fff; /* White text color */
  z-index: 1;
  max-width: 100%;
}

.menu-text button:hover {
  background-color: #d69e3d;
  color: #fff;
  transition: 0.5s ease;
  outline: 2px solid;
}

.location-text button {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #fff;
  color: #fff;
}

.location-text button:hover {
  background-color: #fff;
  color: black;
  transition: 0.5s ease;
}

/* About Us */
.about-us {
  display: flex;
  flex-direction: column;  
  align-items: center;  
  justify-content: center;
  padding: 20px;  
}

.about-us img {
  width: 100%;  
  height: auto;  
  padding-top: 20px;
  padding-bottom: 20px;
}

.about-us-text {
  flex: 1;  
  max-width: 100%;  
  display: flex;
  flex-direction: column;
  padding-left: 0;  
}

.about-us h2 {
  margin: 0 0 10px;  
}

.about-us p {
  margin: 0 0 10px;  
}

.about-us .about-us-btn {
  align-self: flex-start;  
  margin-top: 10px; 
  width: auto;
  padding: 12px 24px;
}

.about-us-btn {
  color: #fff;
  background-color: #000;
}

.about-us-btn:hover {
  background-color: #d69e3d;
  color: #fff;
  transition: 0.5s ease;
  outline: 2px solid;
}

/* Customers Feedback */ 
.customer-feedback {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
}

.customer-feedback .yellow-text p {
  color: #f4a261;
}

.customer-feedback h2 {
  margin-top: 5px;
  color: #fff;
}

.customer-feedback p {
  margin-bottom: 5px;
  color: #fff;
}

.customer-feedback h2 span {
  display: block;
}  

.image-text-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 20px;
}

.image-text-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.image-text-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feedback1, .feedback2, .feedback3 {
  position: absolute;
  top: 65%;
  left: 50%;
  width: 90%;
  bottom: 30%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.footer {
  text-align: center;
  padding: 1rem 10px;
  color: #fff;
  border-top: 1px solid #918989;  
  margin-top: 60px;
}

.footer-text {
  margin-top: 5px;
}

/* Buttons */
button {
  background-color: #fff;
  color: #000000;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #333;
}

button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 1023px) {
  .nav {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .image-text-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  h1 { font-size: 2.986rem; } /* 47.78px */
  h2 { font-size: 2.488rem; } /* 39.81px */
  h3 { font-size: 1.728rem; } /* 27.65px */
  p { font-size: 1rem; } /* 16px */
}

/* Desktop styles */
@media (min-width: 1100px) {
  .image-grid {
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
  }

  .latte {
    grid-column: 1 / 3; 
    grid-row: 1 / 3; 
  }

  .coffee-beans {
    grid-column: 3; 
    grid-row: 1; 
  }

  .pouring-coffee {
    grid-column: 4; 
    grid-row: 1; 
  }

  .three-cups {
    grid-column: 3; 
    grid-row: 2; 
  }

  .smiling-employee {
    grid-column: 4; 
    grid-row: 2; 
  }

  .image-text-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  h1 { font-size: 3.815rem; } /* 61.04px */
  h2 { font-size: 3.052rem; } /* 48.83px */
  h3 { font-size: 1.953rem; } /* 31.25px */
  p { font-size: 1rem; } /* 16px */
}
